{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{%block navbar%}
  <ul class="navbar-nav">
    <li class="nav-item ">
      <a class="nav-link" href="{%url 'blog-home'%}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{%url 'blog-compose'%}">Compose</a>
    </li>
   </ul>
{%endblock navbar%}
{% block blog-post %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Your Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
    </div>
{% endblock blog-post %}
